---

all:
  vars:
    network: '10.0.4.0/24'

  children:
    'manager':
      hosts:
        'manager':
          ansible_host: jupyter-s1.helix.internal
          ansible_port: 22
          fqdn: jupyter-s1.helix.internal
          hostname: jupyter-s1-helix
          ipv4_address: '10.0.4.130'
    'workers':
      hosts:
        'worker-1':
          ansible_host: jupyter-s1-worker-n1.helix.internal
          ansible_port: 22
          fqdn: jupyter-s1-worker-n1.helix.internal
          hostname: jupyter-s1-worker-n1-helix
          ipv4_address: '10.0.4.131'
        'worker-2':
          ansible_host: jupyter-s1-worker-n2.helix.internal
          ansible_port: 22
          fqdn: jupyter-s1-worker-n2.helix.internal
          hostname: jupyter-s1-worker-n2-helix
          ipv4_address: '10.0.4.132'
        
