# vim: set ft=yaml:

---

docker:
  
  registry: {}
  #  'docker-registry.localdomain:8443':
  #      certificate: trusted-certs/docker-registry.localdomain/server.crt

nfs:
  jupyterhub_data_dir: '/mnt/nfs-jupyterhub'
  backup_dir: '/mnt/nfs-backups'

jupyterhub:
  
  public_base_url: https://jupyter-s1.helix.internal/

  registry: ~
  #registry: 'docker-registry.localdomain:8443'

  notebook_images:
  - 'jupyterhub/singleuser:0.9'
  - 'jupyter/datascience-notebook:77e10160c7ef'
  - 'athena/dask-notebook:0.9a'
  default_notebook_image: 'jupyterhub/singleuser:0.9'
  datascience_notebook_image: 'jupyter/datascience-notebook:77e10160c7ef'
  dask_notebook_image: 'athena/dask-notebook:0.9a'
