---

jupyterhub:

  version: '0.9'

  oauth:
    github:
       client_id: abc1234
       client_secret: xyz1234 

  users:
    "drmalex07": {username: "malex", admin: false}
    "drmalex07-develop": {username: "developer", admin: false}
